 :root {
    /* Background */
    --bg-white: #FFFFFF;
    /* --bg-gray: #F9FAFF; */
    --bg-gray: rgb(255, 247, 236);
    --bg-line: #25282B;

    /* Brand */
    --primary-brand: #FDAFAB;

    /* Text */
    --font-low-emphasis: #9A9FA8;
    --font-medium-emphasis: #828282;
    --font-high-emphasis: #25282B;

    /* Form */
    --border-white: #E8ECF4;
 }
