<div class="container">
    <div class="cards-container">
        @if (galleryType === 'weddings') {
            @for (gallery of weddingGalleries; track $index) {
                <div class="card" [routerLink]="[ '/gallery', this.galleryType + '/' + gallery.name ]">
                    <img [src]="gallery.imageSrc">
    
                    <div>
                        <span>СВАТБИ</span>
    
                        <h3>{{ gallery.name }}</h3>
                    </div>
                </div>
            }
        }

        @if (galleryType === 'graduates') {
            @for (gallery of graduatesGalleries; track $index) {
                <div class="card" [routerLink]="[ '/gallery', this.galleryType + '/' + gallery.name ]">
                    <img [src]="gallery.imageSrc">
    
                    <div>
                        <span>АБИТУРИЕНТИ</span>
    
                        <h3>{{ gallery.name }}</h3>
                    </div>
                </div>
            }
        }

        @if (galleryType === 'personal') {
            @for (gallery of personalGalleries; track $index) {
                <div class="card" [routerLink]="[ '/gallery', this.galleryType + '/' + gallery.name ]">
                    <img [src]="gallery.imageSrc">
    
                    <div>
                        <span>ПЕРСОНАЛНИ</span>
    
                        <h3>{{ gallery.name }}</h3>
                    </div>
                </div>
            }
        }
    </div>
</div>