.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 4px;
    row-gap: 80px;
}

:host-context(.mobile) {
    row-gap: 60px;
}

.card {
    width: 48%;
}

:host-context(.mobile) .card {
    width: 100%;
}

.card img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform .2s ease;
    padding-bottom: 12px;
}

.card img:hover {
    transform: scale(1.03);
}

.card > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card span {
    padding-bottom: 4px;
}

.card h3 {
    text-align: center;
    font-weight: 500;
}
