.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

:host-context(.tablet) .container,
:host-context(.mobile) .container {
    flex-direction: column-reverse;
    gap: 60px;
}

.left {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.left h1 {
    margin-bottom: 0;
}

.left a {
    width: fit-content;
}

.right {
    max-width: 700px;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
