<div class="container">
    <div class="left">
        <h1>За мен</h1>

        <div class="text text-medium">
            Аз съм Виктория Борисова и имам 3-годишен опит в събитийната фотография. В моята работа се стремя да разказвам вашите истории чрез снимки, улавяйки уникални и емоционални моменти.
        </div>

        <div class="text text-medium">
            Фотографията за мен е начин да изразя емоции и вдъхновение, специализирайки се в сватбена и събитийна фотография, включително абитуриентски балове, кръщенета, рождени дни и други. С индивидуален подход и внимание към детайла, създавам кадри, които преобразяват вашите специални мигове.
        </div>

        <div class="text text-medium">
            Разгледайте моята галерия и ако искате да създадем нещо уникално заедно, свържете се с мен. Очаквам с нетърпение да уловим магията на вашите важни моменти!
        </div>

        <a routerLink="" [state]="{ scrollTo: 'projects', }" class="btn btn-primary">Галерия</a>
    </div>

    <div class="right">
        <img src="assets/img/about-me.png">
    </div>
</div>

<div class="section-space"></div>

<app-contact-me></app-contact-me>
