<div class="container">
    <div class="content">
        <div class="icons">
            <a href="https://m.facebook.com/people/phbyviki/100076542123196/" target="_blank"><img src="assets/img/facebook.svg"  alt="An image of the Facebook logo"></a>
            <a href="https://www.instagram.com/_phbyviki?igsh=MXRlN2g3dXd2amM2Nw==" target="_blank"><img src="assets/img/instagram.svg"  alt="An image of the Instagram logo"></a>
        </div>
        
        <div class="watermark text-small">
            &#169; Виктория Борисова 2024
        </div>
    </div>

    <div class="footer-image">
        <img src="assets/img/footer.webp" alt="An image of the footer">
    </div>
</div>
