.container {
    display: flex;
    justify-content: space-between;
    color: var(--font-high-emphasis);
    font-size: 18px;
    margin-bottom: 54px;
}

.actions {
    display: flex;
    gap: 48px;
}

a {
    cursor: pointer;
}
