<div class="container">
    @defer (when areImagesLoaded) {
        @for (image of imageUrls; track $index) {
            <div class="column">
                <img [src]="image" class="image lazy-load" (click)="openModal(image)" alt="Gallery Image"
                    (load)="onImageLoad($index)" [class.loaded]="loadedImages[$index]">
    
                @if (!loadedImages[$index]) {
                    <div class="skeleton"></div>
                }
            </div>
        }
    }
</div>

@if (isModalOpen) {
    <div class="modal-container">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            
            <img id="modal" [src]="modalImage" alt="Gallery Image">
        </div>
    </div>
}
