<div class="container">
    <div class="row">
        @for (image of imageUrls.slice(0, 6); track $index) {
            <div class="column">
                <img [src]="imageUrls[$index]">
            </div>
        }

        @for (image of imageUrls.slice(5, 6); track $index) {
            <div class="column">
                <img [src]="imageUrls[$index]">
            </div>
        }

        @for (image of imageUrls.slice(11, 6); track $index) {
            <div class="column">
                <img [src]="imageUrls[$index]">
            </div>
        }

        @for (image of imageUrls.slice(16, 6); track $index) {
            <div class="column">
                <img [src]="imageUrls[$index]">
            </div>
        }

        @for (image of imageUrls.slice(21, 6); track $index) {
            <div class="column">
                <img [src]="imageUrls[$index]">
            </div>
        }

        @for (image of imageUrls.slice(26, 6); track $index) {
            <div class="column">
                <img [src]="imageUrls[$index]">
            </div>
        }
    </div>
</div>
