.container {
    display: flex;
    column-gap: 120px;
}

/* :host-context(.tablet) .container,
:host-context(.mobile) .container {
    flex-direction: column-reverse;
} */

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left .btn-group {
    display: flex;
    gap: 12px;
    margin-top: 32px;
}

.right {
    width: 720px;
    height: 628px;
}

:host-context(.tablet) .right,
:host-context(.mobile) .right {
    display: none;
}

.right svg {
    position: absolute;
    top: 0;
    right: 0;
}
